* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    background: #1B1B1B;
    color: #fff;   
}

.backdrop {
//   position: relative;
    opacity: 0.2;
}

.button-type1 {
    color: #fff !important;
    border-radius: 0.5rem;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
}
.nav-button {
    border: none !important;
    background-color: #8C43EC;
    border: 1px solid #8c43ec;

}
.button-type2 {
    // background-color: #000;
    // color: #fff !important;
    border-radius: 0.5rem;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
}
.button-type1:hover {
    background-color: #fff;
    color: #000 !important;

}
.button-type2:hover {
    background-color: #fff;
    color: #000 !important;
}